.border{
    border: 2px solid green;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: #121212;
    color: white;

}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color:#1a1c1d;
}

.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}